/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */

/* ===== Глобальные стили ===== */

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* Обводка в фокусе */

* {
	outline: none; 
}


/* Стили для Body */
body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Light;
    font-size: 15px;
    line-height: 30px;
    color: #000000;

	background-color: #fff;
}

.title_content {
	width: 100%;
	margin: 0;
}

/* ===== Fonts ===== */

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ===== Header ===== */

.main_header {
	height: 299px;
	width: 1160px;
    margin-left: auto;
    margin-right: auto;
	background-color: #f7e296;
	margin-top: 40px;
}

.logo_container {
	position: relative;
	width: 1160px;
	min-height: 36px;
	margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.header_logo,
.search,
.search_nav,
.main_nav,
.title_content,
.bottom_slider,
.partners,
.wrapper,
.footer_nav,
.address,
.social_networks {
	width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header_logo {
	position: absolute;
	top: -16px;
	margin-left: 60px; 
}

.header_logo .logo_text {
	color: #000;
}

/* Поведение верхнего логотипа */

.header_logo:hover .logo_text {
	color: rgba(0, 0, 0, 0.5);
}

.header_logo:active .logo_text,
.header_logo a:focus .logo_text{
	color: rgba(0, 0, 0, 0.25);
}

.logo_text {
	font-family: Gilroy Extrabold;
	font-size: 48px;
}

/* Поисковая навигация */

.search_nav a {
	position: relative;
	font-family: Open Sans, Light;
	font-size: 15px;
	line-height: 30px;
	width: 100px;
	color: #000;
	margin: 0;
	padding: 0;
}

/* прикручиваю иконки к ссылкам */
.to_enter a::before,
.compare a::before,
.cart a::before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	
	background-repeat: no-repeat;
	background-color: transparent;
}

.search_nav .to_enter a::before {
	background-image: url("../img/user.png");
	left: -26px;
	top: 4px;
}

.search_nav .compare a::before {	
	background-image: url("../img/compare.png");
	left: -22px;
	top: 4px;
}

.search_nav .cart a::before {
	background-image: url("../img/cart.png");
	left: -23px;
	top: 4px;
}

.search_nav .cart {
	margin-right: 25px;
}

/* поведение */

.search_nav a:hover {
	color: rgba(0, 0, 0, 0.5);
}

.search_nav a:active,
.search_nav a:focus {
	color: rgba(0, 0, 0, 0.25);
}

/* позиционирование */

.search_nav .search_container {
 	float: left;
 	width: 240px;
 	margin-left: 78px;
}

.search_nav li:not(.search_container) {
	float: right;
	width: 100px;
	padding-left: 32px;
}

.search_nav .clearfix {
	margin-top: 8px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.search_nav ul {
	margin: 0;
	padding: 0;
}

.search_nav input[type="search"] {
	font-family: Open Sans, Light;
	font-size: 15px;
	border: none;
	background-color: transparent;
	margin-left: 20px;

}

.search_nav .search {
	position: relative;
}

.search_nav input[type="image"] {
	position: absolute;
	top: 8px;
	left: -14px;
}

.search_nav .to_enter {
	margin-right: 146px;
}

/* Главная навигация */

.main_nav {
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

.main_nav .nav_wrap,
.main_nav .catalog_wrap {
	margin: 0;
	padding: 0;
}

.nav_wrap li {
	position: relative;
	margin: 0;	
	float: right;
}

.nav_wrap li:first-child {
	margin-right: 60px;
}

.nav_wrap li:nth-child(2) {
	margin-right: 114px;
}

.nav_wrap li:last-child {
	margin-right: 36px;
}

.catalog_wrap a,
.nav_wrap a {
	font-family: Gilroy Extrabold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 1);
}

/* поведение */
.catalog_menu a:hover,
.nav_wrap a:hover {
	color: rgba(0, 0, 0, 0.5);
}

.catalog_menu a:active,
.catalog_menu a:focus,
.nav_wrap a:active,
.nav_wrap a:focus {
	color: rgba(0, 0, 0, 0.25);
}

/* выпадающее меню */
.main_nav .catalog_wrap {
	position: relative;
	margin-left: 60px;
}

.main_nav .catalog_menu a {
	font-family: Open Sans, Light;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: normal;	
}

.main_nav .catalog_menu {
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
} 

.catalog_wrap span {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	left: 230px;
	bottom: 7px;
}
                                                      
.catalog_wrap .catalog_menu {
	display: none;
	background-color: #f7e296;
	margin: 0;
	margin-left: 0px;
	padding-top: 16px;
	padding-right: 0;
	padding-bottom: 24px;
	padding-left: 0px;
}

.catalog_wrap .catalog_menu a {
	font-family: Open Sans, light;
	font-size: 15px;
	line-height: 36px;
	width: 177px;
}

/* выпадание  catalog_menu */

.catalog_wrap:hover > a + .catalog_menu {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1100px;
	min-height: 125px;

	margin-top: 25px;
	margin-left: -60px;
    padding-left: 60px;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.catalog_wrap:hover > a {
	color: rgba(0, 0, 0, 0.5);
}

.catalog_wrap:active > a,
.catalog_wrap:focus > a {
	color: rgba(0, 0, 0, 0.25);
}

.catalog_menu li {
	display: flex;
	flex-direction: column;
	margin-right: 35px;
	text-align: left;
}


/* ===== Main ===== */

/* Слайдер top_slider */

.top_slider .slide {
	display: flex;
	justify-content: space-between;
	margin-bottom: 118px;
}

.top_slider .right_column {
	position: relative;
	width: 560px;
}

.slide figure {
	display: inline-block;
	margin-top: -65px;
}

.top_slider .number {
	display: inline-block;
	font-family: Gilroy Extrabold;
	font-size: 160px;
	line-height: 56px;
	color: #fff;
	/*   background-color: #f7e296;  временно для видимости */
}

.top_slider h2 {
	font-family: Gilroy Extrabold;
	font-size: 47px;
	line-height: 56px;
	margin: 0;
	padding: 0;
	margin-top: -70px;
	margin-bottom: 40px; 
}

.top_slider p {
	width: 450px;
	margin-top: 18px;
	margin-bottom: 32px;
}

/* слайд 1 */
.slide_1 .number {
	margin-left: 45px;
}

.slide_1 figure {
	margin-left: 88px;
}

/* слайд 2 */

.slide_2 .number {
	margin-left: 158px;
}

.slide_2 figure {
	margin-left: 88px;
}


/* слайд 3 */
.slide_3 figure {
	margin-left: 31px;
}

.slide_3 h2 {
	margin-top: -65px;
}

.slide_3 .number {
	margin-left: 325px;
	margin-top: -58px;
}

.slide_3 h2:after {
	content: "";
	display: block;
	position: absolute;
	width: 100px;
	height: 7px;
	background-color: #fff;
	top: -70px;
}

/*
.slide_3 h2:before {
	content: "";
	display: block;
	position: absolute;
	width: 200px;
	height: 135px;
	background-image: url(../img/03.png);
	background-repeat: no-repeat;
	left: 300px;
	top: -117px;
}*/

.right_column .slide_toggler {
	display: inline-block;
	margin-left: 114px;
	margin-bottom: 30px;
}

.right_column .read_more {
	position: relative;
	font-family: Gilroy ExtraBold;
	font-size: 18px;
	line-height: 24px;

	padding-left: 45px;
	padding-right: 45px;
	background-color: transparent;
}

.specifications td {
	font-family: Gilroy Light;
	font-size: 36px;
	line-height: 48px;
}

.specifications th {
	font-family: 'Open Sans', Light;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	width: 160px;
    text-align: left;
}

.stylish_button {
	font-family: Gilroy ExtraBold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 1);

	/* обнуляю дефолтные стили для кнопки */
	border: none;
	box-shadow: none;
	background-color: transparent;

	padding-top: 8px;
	padding-bottom: 8px; 
}

/* поведение */

.stylish_button:hover {
	background-color: #f0c52e;
}

.stylish_button:active,
.stylish_button:focus {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.25);
}

/* прикручиваю внутреннюю полоску через псевдо элемент */

.slide .stylish_button:before {
	content: "";
	display: block;
	position: absolute;
	width: 220px;
	height: 7px;
	left: 0;
	bottom: 15px;
	background-color: #f0c52e;
	z-index: -1;
}

/* переключатель слайдов */
.slide_toggler li {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 22px; 
}

.slide .active_top_slide::before {
	position: absolute;
	left: 2px;
	top: 2px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	border: 1px solid #000;
	border-radius: 50%;
}


/* прикручиваю внутреннюю полоску через псевдо элемент */

/*.top_slider {
	position: relative;
}

.stylish_button::after {
	content: "";
	display: block;
	width: 1160px;
	height: 8px;
	background-color: #f0c52e;
	position: absolute;
}*/

/* вариант с фоновой картинкой: */






/* Блок с иконками prodacts */

.prodacts {
	margin-bottom: 190px;
}
 
.prodacts ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.prodacts a {
	width: 160px;
}

.prodacts span {
	font-family: Gilroy Extrabold;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
	height: 240px;
	width: 160px;
}

.prodacts .underref {
	height: 160px;
	width: inherit;
	background-color: #f7e296;
}

.prodacts li:nth-child(1) .underref {
	background-image: url(../img/popular-1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.prodacts li:nth-child(2) .underref {
	background-image: url(../img/popular-2.png);
	background-repeat: no-repeat;
	background-position-y: 40px; /* из-за того что дизайнер сцуко выёживается */
	background-position-x: center;
}

.prodacts li:nth-child(3) .underref {
	background-image: url(../img/popular-3.png);
	background-repeat: no-repeat;
	background-position: center;
}

.prodacts li:nth-child(4) .underref {
	background-image: url(../img/popular-4.png);
	background-repeat: no-repeat;
	background-position: center;
}

.prodacts li:nth-child(5) .underref {
	background-image: url(../img/popular-5.png);
	background-repeat: no-repeat;
	background-position: center;
}

.prodacts li:nth-child(6) .underref {
	background-image: url(../img/popular-6.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* поведение ссылок и иконок */

.prodacts a:hover .underref {
	background-color: #f0c52e;
}

.prodacts a:active span,
.prodacts a:focus span {
	color: rgba(0, 0, 0, 0.25);
}

.prodacts li:nth-child(1) a:active .underref,
.prodacts li:nth-child(1) a:focus .underref {
	background-image: url(../img/popular-1pale.png);
}

.prodacts li:nth-child(2) a:active .underref,
.prodacts li:nth-child(2) a:focus .underref {
	background-image: url(../img/popular-2pale.png);
}

.prodacts li:nth-child(3) a:active .underref,
.prodacts li:nth-child(3) a:focus .underref {
	background-image: url(../img/popular-3pale.png);
}

.prodacts li:nth-child(4) a:active .underref,
.prodacts li:nth-child(4) a:focus .underref {
	background-image: url(../img/popular-4pale.png);
}

.prodacts li:nth-child(5) a:active .underref,
.prodacts li:nth-child(5) a:focus .underref {
	background-image: url(../img/popular-5pale.png);
}

.prodacts li:nth-child(6) a:active .underref,
.prodacts li:nth-child(6) a:focus .underref {
	background-image: url(../img/popular-6pale.png);
}

.prodacts span:active,
.prodacts span:focus {
	color: rgba(0, 0, 0, 0.25);
}


/* Слайдер bottom_slider */ 
.middle_footer {
	width: 100%;
	background-color: #e5e5e5;
}                                                            

.bottom_slider {
	display: flex;
	position: relative;
	justify-content: space-between;
	min-height: 288px;	
}

.services_figure h2 {
	font-family: Gilroy ExtraBold;
	font-size: 47px;
	line-height: 48px;
	margin-top: -4px;
}

.services_figure li {
	width: 674px;
	min-height: 205px;
	background-repeat: no-repeat;
	margin-right: 80px;
}

.services_figure p {
	width: 430px;
}

.services_figure .delivery {
	background-image: url("../img/delivery.png");
	background-position-x: right;
	background-position-y: 10px; 
}

.services_figure .warranty {
	background-image: url("../img/warranty.png");
	background-position-x: right;
	background-position-y: 10px; 
}

.services_figure .credit {
	background-image: url("../img/credit.png");
	background-position-x: right;
	background-position-y: 0; 
}

.services {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	width: 280px;
	margin-top: -25px;
}

.services_item {
	margin-bottom: 20px;
}

.services:after {
	content: "";
	display: block;
	position: absolute;
	left: 280px;
	top: -85px;

	width: 7px;
	height: 320px;
	background-color: #000;
}

.services .stylish_button:hover {
	background-color: #f0c52e;
}

.services .stylish_button {
	position: relative;
	background-color: transparent;
	width: 160px;
	z-index: 10;
	cursor: pointer;
}

/* прикручиваю внутреннюю полоску через псевдо элемент */

.services .stylish_button:before {
	content: "";
	display: block;
	position: absolute;
	width: 160px;
	height: 7px;
	left: 0;
	top: 16px;
	background-color: #f0c52e;
	z-index: -1;
}

/* ...и для списка */
.bottom_slider ul {
	padding: 0;
	margin: 0;
	margin-top: -22px;
}

.bottom_slider .bottom_slider_active {
	background-color: #000;
	color: #f7e184;	
}

/* это какой-то трэш и угар! */
.services .bottom_slider_active.stylish_button:before {
	display: none;
}

/* прибиваю справа еще кусок черноты */
.services .bottom_slider_active.stylish_button:after {
	content: "";
	display: block;
	position: absolute;
	width: 120px;
	height: 40px;
	background-color: #000;
	left: 160px;
	top: 0px;
}

.services .stylish_button:hover.bottom_slider_active {
	background-color: #000;
	color: #f7e184;
}

/* ===== Footer ===== */

.main_footer {
	width: 100%;
	height: 323px;
	background-color: #464646;
}

.footer_logo .logo_text {
	color: #ffc600;
}

.social_networks li {
	background-color: #7e7e7e;
	width: 32px;
	height: 32px;
}